<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

<style type="text/css">
table.striped>tbody>tr:nth-child(odd) {
   	background-color: rgba(158. 154, 154, 0.5);
}

form input[type=submit] {
	color: white;
}
</style>

</head>
<body>
  <h3>Spring Boot + Thymeleaf + Materialize Design</h3>
  <br>
  <h5>Usuário</h5>
  
  <div th:each = "p : ${pessoaobj}">
    <div class="row">
      <p>ID: <span th:text="${p.id}"></span></p>
      <p>Nome: <span th:text="${p.nome}"></span></p>
      <p>Sobrenome: <span th:text="${p.sobrenome}"></span></p>
      <p>Idade: <span th:text="${p.idade}"></span></p>
    </div>
  </div>
  
  <h5>Telefones</h5>
  <div class="row">
    <form th:action="@{/addtelefone/{pessoaid}(pessoaid=${pessoaobj.id})}" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <label for="numero" class="active">Número</label>
          <input name="numero" id="numero">
        </div>
        <div class="input-field col s6">
          <label for="tipo" class="active">Tipo</label>
          <input name="tipo" id="tipo">
        </div>
        <input type="submit" value="Adicionar" class="waves-effect waves-light btn">
      </div>
    </form>
  </div>
  
  <table class="striped">
    <thead>
      <tr>
        <th>Numero</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tr th:each = "telefone : ${telefones}">
      <td th:text = "${telefone.numero}"></td>
      <td th:text = "${telefone.tipo}"></td>
      <td><a th:href="@{/removertelefone/{idtelefone}(idtelefone=${telefone.id})}">Excluir</a></td>
    </tr>
  </table>
  
  <a href="/cadastropessoa" class="waves-effect waves-light btn">Página de Cadastro</a>
  
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.js"></script>
</body>
</html>